* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

a {
    font-family: wastebone;
}

body {
    background-color: #cabaa9;
    min-height: 100dvh;
    width: 100%;
}

/*--------------------------navigation---------------------------*/

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 5%;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 15%;
    background-color: #D3B09C;
    min-height: 100dvh;
    position: fixed;
    z-index: 91;
    
}

nav a {
    font-size: 1.55em;
    text-decoration: none;
    color: black;
}

nav img {
    width: 70%;

}

#nvwa {
    display: flex;
    position: relative;
    align-items: center;
}

#about {
    display: flex;
    position: relative;
    right: 70%;
    z-index: 99;
}

#event{
    display: flex;
    position: relative;
    right: 18%;
    z-index: 99;
}

#merch {
    display: flex;
    position: relative;
    right: 70%;
    z-index: 99;
}

#plate1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 49%;
    width: 125%;
    right: 13%;
    z-index: 98;
}

#plate2 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 27%;
    width: 125%;
    left: 14%;
    z-index: 98;
}

#plate3 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 4.5%;
    width: 125%;
    right: 13%;
    z-index: 98;
}

/*--------------------------backgrounds---------------------------*/

#wrapper {
    max-width: 100%;
    overflow: hidden;
    
}

#clouds1 {
    width: 150%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    animation: animate 200s linear infinite;
}

#mountain {
    width: 90%;
    min-height: 100dvh;
    display: block;
    position: absolute;
    bottom: 0%;
    left: 10%;
    z-index: 90;
}

#flowers{
    width:80%;
    display:flex;
    flex-wrap: nowrap;
    position:absolute;
    bottom:7%;
    left:20%;
    z-index:93
}

h1 {
    font-family: "canvas-script", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13em;
}

#claylike{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position:absolute;
    bottom: 50%;
    left: 20%;
    z-index: 96;
}

#festival{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position:absolute;
    bottom: 25%;
    left: 55%;
    z-index: 96;
}

#dates{
    font-family: "canvas-script", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 5em;
    position: absolute;
    left: 66%;
    bottom: 17%;
    z-index: 100;
}

/*--------------------------content---------------------------*/

.content {
    width: 85%;
    min-height: 100dvh;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    left: 15%;
    z-index: 99;
}

.background {
    width: 100%;
    min-height: 100dvh;
    background-size: cover;
    position: absolute;
    z-index: 1;
}

.content h1 {
    font-family: "quinn-text", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 5em;
    display: flex;
    padding-top: 5%;
    padding-left: 9.5%;
    z-index: 100;
}

.content h2 {
    font-family: "source-han-serif-tw-subset", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    position: absolute;
    top: 22%;
    padding-left: 9.5%;

}

.content h3 {
    font-family: "quinn-text", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
    display: flex;
    position: absolute;
    top: 32%;
    padding-left: 9.7%;
    padding-right: 9.5%;
    text-align:left;
    z-index: 100;
    line-height: 150%;
}

#mission {
    font-family: "quinn-text", serif;
    font-weight: 700;
    font-size: 5em;
    font-style: bold;
    top: 60%;
}

#mission2 {
    display: flex;
    position: absolute;
    top: 73%;
}

#mission3 {
    display: flex;
    position: absolute;
    top: 83%;
}

#partner {
   
    font-family: "quinn-text", serif;
    font-weight: 700;
    font-size: 5em;
    font-style: bold;
    top: 103%;
}

#partner2 {
    display: flex;
    position: absolute;
    top: 116%;
}

#museums {
    width: 70%;
    position: absolute;
    left: 20%;
    top: 126%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 99;
}

.museumlogos {
    display: flex;
    padding-top: 15%;
    width: 60%;
}

.museumlogos:hover {
    transform: scale(1.2);
}

footer {
    width: 85%;
    background-color: #e8eadc;
    position: absolute;
    top: 170%;
    border-top: black 2px solid;
    left: 15%;
    justify-content: center;
    z-index: 98;
}

#copyright {
    left: 15%;
    padding: 0% 45% 5% 45%;
    display: flex;
    margin-top: 2%;
}

footer p {
    font-family: "quinn-text", serif;
    font-weight: 200;
    font-size: 1em;
    font-style: light;
    padding-right:150%;
    display: inline;
    flex-direction: row;
    justify-content: space-between;

}

/*--------------------------events---------------------------*/

#container {
    width: 85%;
    min-height: 100dvh;
    left: 15%;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: -10%;
}

#map {
    display: inline-block;
    position: absolute;
    top: 60%;
    left: 6%;
}

#map h2{
    margin-top: -4%;
}

#chinese {
    margin-left: -5.25%;
    padding-top: 3%;
}

#location {
    margin-left: 2%;
    margin-top: 7%;
    max-height: 90dvh;
    width: 90%;
    border: black 2px solid;
    margin-bottom: 5%;
}

#spot {
    position: relative;
    top: 65%;
    font-weight: 500;
}

#day1 {
    display: flex;
    background-color: #e8eadc;
    padding-top: 8%;
    border: black 2px solid;
    margin-left: 2.5%;
    margin-right: 3%;
    margin-top: 81%;
    padding-bottom: 10%;

}

#day2 {
    display: flex;
    padding-top: 8%;
    background-color: #e8eadc;
    margin-top: 10%;
    border: black 2px solid;
    margin-left: 2.5%;
    margin-right: 3%;
    padding-bottom: 12%;
}

#day3 {
    display: flex;
    padding-top: 8%;
    background-color: #e8eadc;
    margin-top: 10%;
    margin-bottom: 10%;
    border: black 2px solid;
    margin-left: 2.5%;
    margin-right: 3%;
    padding-bottom: 3%;
}

p{
    position: relative;
    font-size: 1.5em;
}

#eventpadding1 {
    padding-left: 18%;
    padding-right: 17%;
}

#eventpadding2 {
    padding-left: 17%;
    padding-right: 17%;
}

#extrapadding3 {
    padding-left: 17%;
    padding-right: 17%;
}
    
#eventpics {
    width: 70%;
    position: relative;
    right: 63%;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 100;
    border: black 2px solid;
}

#eventpics2 {
    width: 70%;
    position: relative;
    right: 63%;
    margin-top: 10%;
    margin-bottom: 10%;
    z-index: 100;
    border: black 2px solid;
}

#eventpics3 {
    width: 70%;
    position: relative;
    right: 62%;
    margin-top: 10%;
    margin-bottom: 15%;
    z-index: 100;
    border: black 2px solid;
}

#container h2{
    margin-left: 5%;
    margin-right: 7%;
    font-size: 3em;
}

#eventfooter {
    width: 100%;
    background-color: #e8eadc;
    position: relative;
    top: 170%;
    border-top: black 2px solid;
    justify-content: center;
    margin-left: -15%;
}

#locationtitle {
    font-family: "quinn-text", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 5em;
    position: relative;
    padding-left: 4.25%;
    padding-top: 10%;
    padding-bottom: 2%;
}

#time {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: absolute;
    margin-top: 107%;
    padding-right: 100%;
    padding-bottom: 50%;
    justify-content: flex-start;
    margin-left: 6%;
}

#timetitle {
    font-family: "quinn-text", serif;
    font-weight: 700;
    font-style: bold;
    font-size: 5em;
    position: absolute;
    padding-left: 2%;
    padding-bottom: 2%;
    display: inline;
    margin-left: 13%;
    margin-top: -62%;
}

#chinesetime {
    position: absolute;
    margin-left: 15%;
    margin-top: -54%;
    font-family: "source-han-serif-tw-subset", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 3em;
    z-index: 100;

}

#timeline1 {
    display: flex;
    position: absolute;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    width: 32%;
    margin-left: 35%;
    margin-top: -23%;
    z-index: 100;

}

#timeline2 {
    display: flex;
    position: absolute;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    width: 33%;
    z-index: 100;
    margin-left: 33%;
    margin-top: 32%;

}

#timeline3 {
    display: flex;
    position: absolute;
    margin-top: 86%;
    margin-left: 33%;
    text-align: center;
    justify-content: center;
    width: 32%;
    z-index: 100;

}

.layout {
    font-size: 1.5em;
    display: block;
    margin: 17%;
    padding-left: 3%;
    padding-right: 3%;
}
/*--------------------------merch---------------------------*/

#shop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-left: -27%;
    margin-top: 10%;
}

#shop img {
    width: 50%;
    background-color: #e8eadc;
    border: black 1px solid;
    z-index: 0.1;
}

#totebag {
    padding-bottom: 5.65%;
    position: relative;
    left: 24.9%;
    top: 80%;
    
}

#ticket {
    padding-top: 11.9%;
    padding-bottom: 11.9%;
    position: relative;
    left: 25%;
    top: 10.25%;
    padding-left: 5%;
    padding-right: 6%;
    
}

#shirt {
    position: relative;
    top: 149.60%;
    right: 69.70%;
   
}

#merchfooter {
    left: 15%;
    padding: 2.5% 15% 5% 33%;
    display: flex;
    margin-top: 34%;
    background-color: #e8eadc;
    z-index: 30;
}

#shop p:hover {
    transform: scale(1.1);
    animation-duration: 0.75s;
}

#price1, #price2, #price3 p{
    font-family: "source-han-serif-tw-subset", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5em;
    display: inline-block;
}

#price1 {
    position: absolute;
    left: 62%;
    bottom: 25%;
    text-align: center;
    line-height: 200%;
}

#price2 {
    position: absolute;
    top: 130%;
    right: 61%;
    text-align: center;
    line-height: 200%;
}

#price3 {
    position: absolute;
    top: 200%;
    left: 66%;
    text-align: center;
    font-size: 1.5em;
    line-height: 200%;
    display: flex
}

#misfunction {
    position: absolute;
    top: 100%;
    left: 39%;
}

#footerp {
    position: relative;
    margin-top: 74%;
    left: 53%;
    z-index: 40;
    font-family: "quinn-text", serif;
    font-weight: 100;
    font-size: 1em;
    font-style: light;
    margin-right: 60%;
}
/*--------------------------animation---------------------------*/

@keyframes animate{
    0%{margin-left: 0;}
    100%{margin-left: -100%;}
}

@font-face{
    font-family: wastebone;
    src:url(../font/WasteboneDemo-eZPOl.ttf);
}

@media (orientation:portrait) {

    #plate1, #plate2, #plate3 {
        opacity: 0; 
        position: absolute;
    }

    nav {
        max-height:100dvh;
    }

    content {
        max-height: 100dvh
    }

    body {
        background-image: url(../img/cloudbackground3.png);
        background-repeat: repeat;
    }

    .background {
        opacity: 0;
    }

    #about {
        display: flex;
        position: relative;
        right: 70%;
        z-index: 99;
        margin-top: -20%;
    }



}

/*@media (max-width:430px) {
    html {
        font-size: 80%;
        width: 430px;
    }

    header {
        width: 100%; 
    }

    nav {
        display: flex;
        flex-direction: row;  
        justify-content: space-between;
        background-color: #D3B09C;
        width: 100%; 
        position: relative;
        height: 130px;
    }

    .content {
        width: 100%;  
        background-color: #cabaa9;
    }

    #plate1, #plate2, #plate3 {
        opacity: 0; 
        position: absolute;
    }

    footer {
        position: absolute;
        width: 100%;  
        margin-left: 0;
    }

}
*/
